$container-max-width: 1440px;
$container-width-desktop-xl: 1080px;
$container-width-desktop-l: 1024px;

$header-nav-height-desktop-xl: 130px;

$main-heading-height-desktop-xl: 95px;
$main-heading-fixed-height-desktop-xl: 23px;
$main-heading-width-desktop-xl: 800px;
$main-heading-fixed-width-desktop-xl: 196px;
$main-heading-margin-top-desktop-xl: 170px;
$main-content-photo-block-height-desktop-xl: 500px;

$internet-things-products-item-width-desktop-xl: 25%;
$internet-things-products-item-margin-desktop-xl: 60px;
$internet-things-products-item-padding-desktop-xl: 30px;
$internet-things-products-img-height-desktop-xl: 170px;

$news-padding-top-desktop-xl: 220px;

$open-news-padding-top-desktop-xl: 120px;
$open-news-photo-block-height-desktop-xl: 330px;
$open-news-photo-block-text-padding-desktop-xl: 40px;

$career-padding-top-desktop-xl: 220px;
$career-cards-item-img-height-desktop-xl: 120px;

$footer-height-desktop-xl: 450px; 
$footer-item-width-desktop-xl: 33%;
$footer-padding-top-desktop-xl: 68px;
$footer-padding-bottom-desktop-xl: 90px;
$footer-list-margin-bottom-desktop-xl: 40px;

$contacts-map-height-desktop-xl: 400px;

$feedback-block-padding-top-desktop-xl: 80px;
$feedback-block-padding-bottom-desktop-xl: 136px;

$sidebar-width-desktop-xl: 180px;
$sidebar-width-desktop-l: 80px;

$article-list-item-elem-height-desktop-xl: 330px;
$article-list-item-elem-height-m-desktop-xl: 440px;
$article-list-item-width-desktop-xl: 50%;

$photo-block-height-desktop-xl: 440px;

$btn-round-height: 60px;
$btn-round-height-xs: 46px;
$btn-round-min-width: 222px;
$btn-round-min-width-xs: 160px;
$btn-circle-size: 50px;
$btn-circle-top-arrow-size: 14px;

$form-width-desktop-xl: 640px;

$input-height: 50px;

$textarea-height: 145px;

$padding-left-right-desktop-xl: 30px;

