extends templates/layout

block content
    div.content.links
        div.container
            ul
                li
                    a(href="main.html").
                        Главная
                li
                    a(href="mobile_ads.html").
                        Мобильная реклама
                li
                    a(href="communications.html").
                        Объединенные коммуникации
                li
                    a(href="video.html").
                        Видео
                li
                    a(href="finance.html").
                        Финансовые услуги
                li
                    a(href="internet_things.html").
                        Интернет вещей
                li
                    a(href="news.html").
                        Новости
                li.links__sub-link
                    a(href="open-news.html").
                        Открытая новость
                li
                    a(href="vacancies.html").
                        Вакансии
                li.links__sub-link
                    a(href="vacancy-page.html").
                        Открытая вакансия
                li
                    a(href="carrer.html").
                        Карьера
                li
                    a(href="company.html").
                        О компании
                li
                    a(href="contacts.html").
                        Контакты