- var decorLinesClass = "";

block vars

div.decor-lines(class="#{decorLinesClass}")
    div.decor-lines__container
        div.decor-lines__container-item.decor-lines__container-item_light
            div.decor-lines__block
                div.decor-lines__point.decor-lines__point_left
                div.decor-lines__point.decor-lines__point_right
            div.decor-lines__block
                div.decor-lines__point.decor-lines__point_right
            div.decor-lines__block
                div.decor-lines__point.decor-lines__point_right
            div.decor-lines__block
                div.decor-lines__point.decor-lines__point_right
            div.decor-lines__block
                div.decor-lines__point.decor-lines__point_right
            div.decor-lines__block
        //div.decor-lines__container-item.decor-lines__container-item_dark
            div.decor-lines__block
            div.decor-lines__block
            div.decor-lines__block
            div.decor-lines__block
            div.decor-lines__block
            div.decor-lines__block
            