div.feedback-block.ta-center
    p.title.title_xl.feedback-block__title.
        Обратная связь
    div.feedback-block__form-container
        form.feedback-block__form
            input.input(type="text", name="name", placeholder="Имя и фамилия" data-validation="required")
            input.input(type="email", name="email", placeholder="E-mail" data-validation="required email")
            textarea.input(type="text", name="message", placeholder="Текст сообщения" data-validation="required")
            button.btn-round.feedback-block__btn.
                Отправить
    
