footer.footer
    div.container.footer__container
        div.footer__item
            ul.footer__list.footer__list_main
                li.footer__list-item
                    a.footer__logo(href="")
                        img(src="images/logo-black.svg" alt="MegaLabs")
                li.footer__list-item
                    p.text.text_s.
                        © 2017 MEGALABS<br>
                        Все права защищены
        div.footer__item
            ul.footer__list
                li.footer__list-item.footer__list-item_head
                    p.title.title_s(href="").
                        О компании
                li.footer__list-item.footer__list-item_green
                    a.text.text_s.link(href="about-us.html").
                        Общая информация
                li.footer__list-item.footer__list-item_green
                    a.text.text_s.link(href="news.html").
                        Новости
        div.footer__item
            ul.footer__list
                li.footer__list-item.footer__list-item_head
                    p.title.title_s(href="").
                        Адрес
                li.footer__list-item
                    p.text.text_s.
                        119180, Россия, г.Москва,<br> 2-й Казачий переулок, д.11, стр.1
            ul.footer__list.footer__list_phones
                li.footer__list-item.footer__list-item_head
                    p.title.title_s(href="").
                        Телефон
                li.footer__list-item
                    p.text.text_s.
                        +7 (499) 755-00-80
                li.footer__list-item
                    p.text.text_s
                        |+7 (499) 755-00-81 
                        span.footer__fax.
                            (факс)
            ul.footer__list
                li.footer__list-item.footer__list-item_head
                    p.title.title_s.
                        Электронная почта
                li.footer__list-item
                    a.footer__request-link.text.text_s(href="mailto:request@megalabs.ru").
                        request@megalabs.ru
        //- div.footer__social
        //-     a.footer__social-link(href="")
        //-         div.icon.icon_social-inst
        //-     a.footer__social-link(href="")
        //-         div.icon.icon_social-fb

